@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  width: 100%;
}

* {
  box-sizing: border-box;
}

@layer base {
  body {
    @apply bg-gray-50 dark:bg-gray-900;
  }

  * {
    @apply transition-colors duration-200;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
